/* .mainItemHomeContainer */

.itemButtons {
  display: inline-flex;
  margin-top: 2rem;
}

.mainItemTable {
  width: 85vw;
  margin-left: 5rem;
  margin-top: 1rem;
  border-style: solid;
  border-color: #3c403d;
}

.itemTableRowHeaders {
  text-align: center;
  font-weight: bold;
  color: #39603d;
}
